Default.Workspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Default.Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Default.Workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Default.Workspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Default.Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Default.Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Default.Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Default.Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Default.Workspace/.metadata/.mylyn/.tasks.xml.zip
Default.Workspace/.metadata/.mylyn/tasks.xml.zip

